celery==5.2.7
Django==4.1.10
django-debug-toolbar==4.1.0
django_environ==0.10.0
django-extensions==3.2.1
djangorestframework==3.14.0
flower==1.2.0
gunicorn==20.1.0
ipython==8.11.0
numpy==1.24.2
pandas==1.5.3
psycopg2==2.9.6
snscrape==0.6.2.20230320
wheel==0.40.0